# General file extension (Garbage)
*~

# General folder (Private = competition archive that the person didn't want to publish publicly
/Private

# PKM private folder
/PKM/Private

# Gemastik private folder 
/Gemastik/Private

# Pilmapres private folder
/Pilmapres/2024/Submission/Capaian Unggul

